.gradle
#.settings
**/.classpath
**/bin
**/build
org.ezyaml.lang.tosca.yaml/model
org.ezyaml.lang.tosca.yaml/jflex-fragment-0.1.0.jar
gradle/wrapper/gradle-wrapper.jar
**/src-gen
**/xtend-gen
**/target
**/.project
org.ezyaml.lang.tosca.yaml.tests/YamlLanguageServer.log
plugin.xml_gen
YamlFlexer.java*