.gradle
.settings
**/.classpath
**/bin
**/build
gradle/wrapper/gradle-wrapper.jar
**/src-gen
**/xtend-gen
**/target
**/.project
org.ezyaml.lang.tosca.yaml.tests/src/org/ezyaml/lang/tosca/tests/YamlParsingTest.xtend
org.ezyaml.lang.tosca.yaml.tests/Vcpeinfra09
**/plugin.xml_gen
